@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fill-all {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
