@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as *;

// Header styles
// ---------------------
.header {
  height: 95vh;
  background-color: $color-primary-dark; // Fallback color
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  /* fits el inside of the box */
  background-size: cover;
  /* stay at the top of the container */
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);

  /* If (res > 192dpi and width > 600px) or width > 2000px*/
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include mixins.respond(tab-land) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 88vh);
  }

  @include mixins.respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
  }

  @include mixins.respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 83vh);
  }

  &__logo-box {
    position: absolute;
    /* Calculated from the parent el (set to relative) */
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* Percentage related to the parent element */
    top: 40%;
    left: 50%;
    /* Percentage of the el*/
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
